* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

div.clear {
    clear: both;
}

div.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

html,
body {
    height: 100%;
}

/*styling header part*/

header {
    padding: 20px 2%;
}

header div.logo img {
    float: left;
    width: 236px;
}

header nav.menu-mobile {
    float: right;
    width: 28px;
    height: 28px;
    margin-top: 7px;
    cursor: pointer;
    background-image: url(../images/menu-mobile.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: none;
}

header nav.menu-mobile ul {
    display: none;
    z-index: 999;
    text-align: center;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0;
    list-style-type: none;
}

header nav.menu-mobile ul li {
    text-transform: uppercase;
    padding: 15px 2%;

}


header nav.menu-desktop {
    float: right;
}

header nav.menu-desktop ul {
    padding: 8px 0;
    list-style-type: none;
}

header nav.menu-desktop ul li {
    float: left;
    font-size: 13px;
    padding: 0 20px;
    text-transform: uppercase;
}

header nav.menu-desktop ul li a,
header nav.menu-mobile ul li a {
    text-decoration: none;
    color: #b4b4b4;

}

/*-----*/

/*Section Mosaic*/

div.mosaic-single {
    float: left;
    width: calc(100% / 6);
}

div.img-mosaic-single {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 5px solid white;
    background-image: url(../images/mosaic.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*-----*/

/*Section Services*/

section.services div.container {
    max-width: 800px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    top: -30px;
}

section.services>div.container div.box-service {
    background-image: url(../images/icon_tooth.png);
    background-size: 18px 18px;
    background-position: center calc(100% - 5px);
    background-repeat: no-repeat;
}

section.services>div.container div.box-service h2 {
    color: white;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
}

section.services>div.container div.box-service p {
    color: white;
    margin-top: 8px;
    font-weight: normal;
    font-size: 12px;
}

section.services>div.container div.box-service:nth-of-type(1) {
    width: 30%;
    padding: 30px 2%;
    background-color: #576975;
}

section.services>div.container div.box-service:nth-of-type(2) {
    width: 40%;
    padding: 45px 2%;
    background-color: #688293;
    background-image: none;
}

section.services>div.container div.box-service:nth-of-type(3) {
    width: 30%;
    padding: 30px 2%;
    background-color: #576975;
}

/*-----*/

/*Section profile-container */

section.profile-container {
    padding: 40px 2%;
}

section.profile-container div.container {
    max-width: 800px;
}

section.profile-container div.profile-wraper {
    padding-top: 60%;
    position: relative;
}

section.profile-container div.profile-wraper2 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

}

section.profile-container div.img-profile {
    width: 40%;
    height: 100%;
    background-image: url(../images/img_profile.png);
    background-size: 100% 100%;

}

section.profile-container div.text-profile {
    width: 60%;
    padding: 0 30px;
}

section.profile-container div.text-profile h2 {
    text-transform: uppercase;
    color: #698293;
    font-size: 18px;

}

section.profile-container div.text-profile p {
    color: #4b4b4b;
    font-size: 14px;
    margin-top: 8px;
    text-align: justify;
}

/*-----*/


/*Section Videos*/

section.videos {
    padding: 50px 2%;
}

section.videos div.box-video {
    float: left;
    width: 33.3%;
    position: relative;
    border: 5px solid white;
    /*background-color: green;*/
    padding-top: calc(33.3% * 0.6);
}

section.videos iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

/*-----*/

/*Section Treatments */

section.treatments{
    padding: 70px 2%;
}

section.treatments div.treatment-container{
    float: left;
    width: 33.3%;
}

section.treatments > h2{
    color: #698293;
    text-align: center;
    font-size: 18px;
}

section.treatments > div.container{
    padding: 80px 0;
}

div.treatment-single{
    padding: 20px;
}

div.treatment-single h2{
    font-size: 18px;
    color: #737373;
}

div.treatment-single p{
    padding: 10px 0;
    font-size: 13px;
    color: #b4b4b4;
}

/*-----*/

/* Media Queries */

@media screen and (max-width: 768px) {

    header nav.menu-desktop {
        display: none;
    }

    header nav.menu-mobile {
        display: block;
    }

    header div.logo img {
        width: 200px;
    }


    section.services div.container {
        /*
        max-width: 800px;
        display: flex;
        align-items: center;
        text-align: center;
        position: relative;
        top: -30px;
        */
        flex-direction: column;
    }

    section.services>div.container div.box-service p {
        color: white;
        margin-top: 8px;
        font-weight: normal;
        font-size: 12px;
    }

    section.services>div.container div.box-service:nth-of-type(1) {
        width: 90%;
        max-width: 350px;
    }

    section.services>div.container div.box-service:nth-of-type(2) {
        width: 94%;
        max-width: 380px;
    }

    section.services>div.container div.box-service:nth-of-type(3) {
        width: 90%;
        max-width: 350px;
    }

    section.profile-container div.profile-wraper {
        padding-top: 0;
    }

    section.profile-container div.profile-wraper2 {
        /*
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        */
        /*
        flex-direction: column;*/

        height: auto;
        position: static;
        text-align: center;
        display: inline-block;

    }

    section.profile-container div.img-profile {
        width: 50%;
        padding-top: 70%;
        height: auto;
        display: inline-block;
        transition: 0.1s;
        /*
        background-image: url(../images/img_profile.png);
        background-size: 100% 100%;*/

    }

    section.profile-container div.text-profile {
        display: inline-block;
        width: 100%;
        padding: 0 30px;

    }

    section.videos{
        text-align: center;
    }

    section.videos div.box-video {
        float: none;
        width: 70%;
        display: inline-block;
        /*border: 5px solid white;*/
        /*background-color: green;*/
        padding-top: calc(70% * 0.6);
        transition: 0.5s;
    }

    section.videos iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


}

@media screen and (max-width: 580px) {

    section.profile-container div.img-profile {
        width: 80%;
        padding-top: 110%;
        transition: 0.4s;
    }

    section.videos div.box-video {
        width: 100%;
        padding-top: calc(100% * 0.6);
    }
}




/*-----*/